*{
  margin: 0;
  padding: 0;
}
.App{
  background-image: url('https://img.freepik.com/premium-photo/chair-with-books-background-bookshelves-library-background_105428-3837.jpg?w=1380');
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh);
  position: relative;
  color: white;

}
.heading{
 margin-left: 600px;
 display: inline;
 justify-content: center;
}
.small{
  color: aqua;
  margin-left: 620px;
  font-size: smaller;
  
}
.form1{

  background-color: rgb(198, 196, 192);
  height: 300px;
  width: 500px;
  position: absolute;
  display: flex;
  transform: translate(30%,30%);

}
.in{
  color: black;
  margin-left: 4px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

